h1 {
  color: #000;
  text-align: center;
  font-size: 70px;
  margin: 10px 0 10px 0;
  font-style: italic;
}
h2 {
  font-size: 80px;
  margin: 0 0 10px 10px;
  color: #000;
}
small {
  margin-left: 5px;
  color: #000;
  background-color: gray;
  border-radius: 10px;
  width: 450px;
  margin-top: 10px;
}
a {
  color: #000;
  text-decoration: none;
}
.open-source:hover {
  font-size: 13px;
  transition: all 300ms;
  color: #000
}
a:hover{
  color: #000;
  transition: all 300ms;
}
ul {
  padding-left: 0px;
}
li {
  display: inline;
  margin-top: 10px;
}
.infos{
  font-size: 15px;
}

.card {
  margin: 30px 10px auto;
  opacity: 80%;
}
.temp-day {
  text-align: center;
  font-size: 25px;
}

.emoji {
  font-size: 80px;
}

.temparatureHL {
  text-align: center;
  font-size: 16px;
}

.units {
  position: relative;
  top: -50px;
}

#weekDay {
  color: #fff;
  list-style-type: none;
  margin-top: 10px;
  padding: 0;
}
#liveHour {
  color: #fff;
  list-style-type: none;
  margin-top: 10px;
  padding: 0;
}
.temp {
  font-size: 100px;
}
#celsius-link {
  text-decoration: none;
}
#fahrenheit-link {
  text-decoration: none;
}
#tempNextDaysHigh{
  font-weight: bold;
}
body{
  font-family: "Work Sans", sans-serif;
  opacity: 3;
	margin:0;
	padding:0;
	font-size:12px;
    background: #2980b9 url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
 
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}