h1 {
  color:#20615b;
  text-align: center;
  font-size: 70px;
  margin: 10px 0 10px 0;
  font-style: italic;
}
h2 {
  font-size: 80px;
  margin: 0 0 10px 10px;
  color: #000;
}
small {
  margin-left: 5px;
  color: #000;
  border-radius: 10px;
  width: 450px;
  margin-top: 10px;
}
a {
  color: #000;
  text-decoration: none;
}

ul {
  padding-left: 0px;
}
li {
  display: inline;
  margin-top: 10px;
}

.infos{
  font-size: 15px;
}

.card {
  margin: 30px 10px auto;
  opacity: 0.6;
}
.temp-day {
  text-align: center;
  font-size: 25px;
}

.emoji {
  font-size: 80px;
}

.temparatureHL {
  text-align: center;
  font-size: 16px;
}

.units {
  position: relative;
  top: -50px;
}

.temp {
  font-size: 100px;
}

.float-left {
  cursor: default;
  color: #000;
}

.open-source:hover {
  transition: all 300ms;
  color: #20615b;
}

.weather-forecast-date{
  font-size: 20px;
}

.little-cards{
border-radius: 30px;
border-color:#20615b;

}

#icon{
  position: relative;
  top: -30px;
  width: 100px;
}

#tempNextDaysHigh{
  font-weight: bold;
}

#weekDay, #liveHour{
  color: #000;
  list-style-type: none;
  margin-top: 10px;
  padding: 0;
  font-size: 15px;
}

@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {    
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

    @-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

.background-container{
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
}

.stars {
 background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
 position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  	z-index: 0;
}

.twinkling{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    
    -moz-animation:move-background 70s linear infinite;
  -ms-animation:move-background 70s linear infinite;
  -o-animation:move-background 70s linear infinite;
  -webkit-animation:move-background 70s linear infinite;
  animation:move-background 70s linear infinite;
	
}

.clouds{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;

   -moz-animation:move-background 100s linear infinite;
  -ms-animation:move-background 100s linear infinite;
  -o-animation:move-background 100s linear infinite;
  -webkit-animation:move-background 100s linear infinite;
  animation:move-background 100s linear infinite;
}
.backgroundImg{
  height: 70vh;
  width:70vh;
  position: absolute;
  z-index: 3;
  right: 20px;
}
